﻿body {
}

/*Naglowek! Imie,nazwisko itd*/

.Naglowek {
    padding-top:50px;
    padding-bottom:50px;
    background: url(Background/black-background.png); /* from http://subtlepatterns.com*/
    color: white;
    text-align:center;
    font-size: 50px;
    font-family: 'Nanum Myeongjo', serif;
    display:block;
}

#tekst_porfolio
{
    font-size:15px;
}

/*-----------------------------
    Pasek MENU
*/
.Menu {
    background: url(Background/black-background.png); /* from http://subtlepatterns.com*/
    font-size: 20px;
}

ul#Menu > li > a {
    color: white;
    font-weight: 700;
}

 ul#Menu > li > a:hover {
        color: gray;
        font-weight: 700;
}
 /*------------------------
     Zakladka O MNIE z menu*/
.wybor_z_menu {
    padding-top:30px;
    font-size: 40px;
    font-weight: 700;
    text-align:center;
}

.zdjecie_komp
{
    width:450px;
    height:350px;
}

.O_mnie {
    float: left;
    text-align: center;
    font-size: 20px;
    padding-bottom:80px;

}

.O_mnie_zdj {
    float: left;
    text-align: center;
    padding-bottom: 80px;
}


 /*-------------------------------------------
     Linia odstępu między wyborami*/

.linia {
    border-bottom: 2px solid #2b2c2d;
    width: 50%;
}


/*----------------------------------
    Zakladka Strony Internetowe
*/

.Strony_internetowe {
    padding-top: 80px;
    padding-bottom:80px;
    color: black;
    font-size: 28px;
    background: url(Background/vertical-waves.png); /* from http://subtlepatterns.com*/
    text-align: center;
}

.Podpunkty_stron{
    text-align:center;
    margin-left:auto;
    margin-right:auto;

}

#span_strony_1{
    font-size: 40px;
    font-weight: 700;
}

#span_strony_2 {
    font-size: 30px;
    font-weight: 500;
}

/*--------------------------------
    Zakladka Z czego korzystam? 
*/
.Z_czego_korzystam {
    text-align:center;
    justify-content:center;
    color: black;
    font-size: 40px;
    font-weight: 700;
    padding-top:80px;

}

.carousel-inner img{
    margin:auto;
}

.carousel-indicators li{
    background-color:black;
}

.carousel-indicators .active {
    background-color: gray;
}

.carousel-control-prev > .carousel-control-prev-icon {
    background-color: black;
}
.carousel-control-next > .carousel-control-next-icon {
    background-color: black;
}

/*----------------------------------------------
    Kontakt
*/

.Kontakt {
    padding-top: 30px;
    padding-bottom:30px;
    background: url(Background/vertical-waves.png); /* from http://subtlepatterns.com*/
    font-size:25px;
    font-weight:700;
    text-align:center;
}


.Mapa{
    height:500px;
}



/*-----------------------
     Dostosowanie do rodzielczości
 */

@media screen and (min-width: 768px) and (max-width: 1042px) {
    .Naglowek{font-size:36px;}
    .Naglowek > #tekst_porfolio {font-size: 13px; }
    .Menu { font-size: 16px;}
    .zdjecie_komp {width: 350px; height: 250px; }
    .O_mnie{font-size:16px; padding-bottom:30px;}
    .O_mnie_zdj{padding-bottom:30px;}
    .Strony_internetowe{font-size:16px; padding-bottom:20px; padding-top:20px;}
    #span_strony_1{font-size:35px;}
    #span_strony_2{font-size:20px;}
    .Z_czego_korzystam{font-size:35px;}
    .wybor_z_menu {font-size: 35px; padding-top: 20px; }
   
}
@media screen and (min-width: 554px) and (max-width: 768px) {
    .Naglowek { font-size: 20px;}
    .Naglowek > #tekst_porfolio {font-size: 13px; }
    .Menu {font-size: 11px;}
    .zdjecie_komp {width: 350px;height: 250px; }
    .O_mnie { font-size: 13px; padding-bottom:20px;}
    .O_mnie_zdj {padding-bottom:20px;}
    .Strony_internetowe {font-size: 13px; padding-top:20px; padding-bottom:20px;}
    #span_strony_1 { font-size: 25px; }
    #span_strony_2 { font-size: 18px;}
    .Z_czego_korzystam{font-size:28px;}
    .wybor_z_menu {font-size: 25px;padding-top: 20px;}
}
@media screen and (min-width: 0px) and (max-width: 554px) {
    .Naglowek { font-size: 20px;}
    .Naglowek > #tekst_porfolio { font-size: 13px; padding-bottom:5px;}
    .Menu { font-size: 11px;}
    .zdjecie_komp { width: 250px; height: 150px; }
    .O_mnie {  font-size: 12px; padding-bottom:20px; }
    .O_mnie_zdj {padding-bottom:20px;}
    .Strony_internetowe {font-size: 13px; padding-top:20px; padding-bottom:20px;}
    #span_strony_1 {font-size: 25px;}
    #span_strony_2 {font-size: 18px;}
    .Z_czego_korzystam{font-size:20px;}
    .Kontakt{font-size:13px;}
    .wybor_z_menu{font-size:25px; padding-top:20px;}
}


