
.icon-phone-circled:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */